* {
    margin: 0;
    padding: 0;
}

.interests {
    background: url(../media/background2.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-family: sans-serif;
}

.interests h1 {
    font-size: 65px;
    color: rgb(230, 104, 59);
    text-align: center;
    margin-top: 0;
}

li {
    letter-spacing: 1px;
    line-height: 50px;
}

.interests-pic {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 30%;
    height: 70%;
    cursor: pointer;
    margin-bottom: 100px;
    mix-blend-mode: multiply;
}