* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projects {
    background: url(../media/background2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    color: rgb(230, 104, 59);
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: 20px;
    color: darkslategray;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 40px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgb(230, 104, 59);
}

p {
    letter-spacing: 1px;
    line-height: 24px;
    color: darkslategray;
    max-width: 600px;
}

.image {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 30%;
    height: 60%;
}

.image img {
    position: absolute;
    height: 140%;
    left: 70%;
    transform: translate(-50%);
    bottom: 20px;
    transition: left 2s ease;
    mix-blend-mode: multiply;
    margin-bottom: 0;
}

.image:hover .img {
    left: 55%;
}